# Needs Python >= 3.14.2 (HA 2026.9)
homeassistant==2026.9.4

# Testing
pytest-homeassistant-custom-component==0.13.367  # Matching version
psutil-home-assistant  # Not sure why this is needed?
fnv_hash_fast  # Or this?
pytest-asyncio

# For pytest. Keep in sync with manifest.json and https://github.com/home-assistant/core/blob/master/requirements_all.txt.
pyserial==3.5

# Tooling
colorlog==6.10.1
pre-commit==4.6.0
ruff==0.9.4
mypy==1.15.0

# Typing
homeassistant-stubs==2026.9.4 # Matching HA version
types-python-slugify==8.0.2.20240310
voluptuous-stubs==0.1.1
